--
-- PostgreSQL database dump
--

\restrict 7Z2IeLhBbSIwk11Vhw5QN5nT6fZFIkR0jDUuSJHTUtIMCh2GI3HeYf0nkjHXbqv

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: level_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.level_results (
    id_result integer NOT NULL,
    id_session integer NOT NULL,
    id_level integer NOT NULL,
    finishing_time integer,
    attempts integer,
    fails integer,
    completed boolean
);


ALTER TABLE public.level_results OWNER TO postgres;

--
-- Name: level_results_id_result_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.level_results_id_result_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_results_id_result_seq OWNER TO postgres;

--
-- Name: level_results_id_result_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.level_results_id_result_seq OWNED BY public.level_results.id_result;


--
-- Name: levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.levels (
    id_level integer NOT NULL,
    name character varying(100),
    difficulty integer
);


ALTER TABLE public.levels OWNER TO postgres;

--
-- Name: levels_id_level_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.levels_id_level_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.levels_id_level_seq OWNER TO postgres;

--
-- Name: levels_id_level_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.levels_id_level_seq OWNED BY public.levels.id_level;


--
-- Name: prueba; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prueba (
    id integer
);


ALTER TABLE public.prueba OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id_session integer NOT NULL,
    id_student integer NOT NULL,
    beginning_date timestamp without time zone,
    end_date timestamp without time zone,
    device character varying(50)
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: sessions_id_session_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sessions_id_session_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_session_seq OWNER TO postgres;

--
-- Name: sessions_id_session_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sessions_id_session_seq OWNED BY public.sessions.id_session;


--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id_student integer NOT NULL,
    id_tutor integer,
    age integer NOT NULL,
    genre character(1) NOT NULL,
    country character(2),
    neurodivergency character varying(50),
    registration_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email character varying(120),
    password_hash character varying(255),
    name character varying(120),
    CONSTRAINT students_genre_check CHECK ((genre = ANY (ARRAY['M'::bpchar, 'F'::bpchar, 'O'::bpchar])))
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: students_id_student_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.students_id_student_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_student_seq OWNER TO postgres;

--
-- Name: students_id_student_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.students_id_student_seq OWNED BY public.students.id_student;


--
-- Name: tutors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutors (
    id_tutor integer NOT NULL,
    email character varying(120) NOT NULL,
    password_hash character varying(255) NOT NULL,
    country character(2),
    registration_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    name character varying(120),
    gender character varying(20),
    age integer,
    grade character varying(20),
    CONSTRAINT tutors_grade_check CHECK (((grade)::text = ANY ((ARRAY['licenciatura'::character varying, 'Maestria'::character varying, 'Doctorado'::character varying, 'Post Doctorado'::character varying, 'Padre o Madre'::character varying])::text[])))
);


ALTER TABLE public.tutors OWNER TO postgres;

--
-- Name: tutors_id_tutor_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tutors_id_tutor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tutors_id_tutor_seq OWNER TO postgres;

--
-- Name: tutors_id_tutor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tutors_id_tutor_seq OWNED BY public.tutors.id_tutor;


--
-- Name: level_results id_result; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level_results ALTER COLUMN id_result SET DEFAULT nextval('public.level_results_id_result_seq'::regclass);


--
-- Name: levels id_level; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.levels ALTER COLUMN id_level SET DEFAULT nextval('public.levels_id_level_seq'::regclass);


--
-- Name: sessions id_session; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id_session SET DEFAULT nextval('public.sessions_id_session_seq'::regclass);


--
-- Name: students id_student; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students ALTER COLUMN id_student SET DEFAULT nextval('public.students_id_student_seq'::regclass);


--
-- Name: tutors id_tutor; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutors ALTER COLUMN id_tutor SET DEFAULT nextval('public.tutors_id_tutor_seq'::regclass);


--
-- Data for Name: level_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: levels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.levels (id_level, name, difficulty) FROM stdin;
1	Beginner	1
2	Elementary	2
3	Intermediate	5
4	Advanced	8
5	Expert	10
\.


--
-- Data for Name: prueba; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prueba (id) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tutors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: level_results_id_result_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.level_results_id_result_seq', 35, true);


--
-- Name: levels_id_level_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.levels_id_level_seq', 5, true);


--
-- Name: sessions_id_session_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sessions_id_session_seq', 19, true);


--
-- Name: students_id_student_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.students_id_student_seq', 26, true);


--
-- Name: tutors_id_tutor_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tutors_id_tutor_seq', 51, true);


--
-- Name: level_results level_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level_results
    ADD CONSTRAINT level_results_pkey PRIMARY KEY (id_result);


--
-- Name: levels levels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_pkey PRIMARY KEY (id_level);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id_session);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id_student);


--
-- Name: tutors tutors_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutors
    ADD CONSTRAINT tutors_email_key UNIQUE (email);


--
-- Name: tutors tutors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutors
    ADD CONSTRAINT tutors_pkey PRIMARY KEY (id_tutor);


--
-- Name: level_results level_results_id_level_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level_results
    ADD CONSTRAINT level_results_id_level_fkey FOREIGN KEY (id_level) REFERENCES public.levels(id_level);


--
-- Name: level_results level_results_id_session_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level_results
    ADD CONSTRAINT level_results_id_session_fkey FOREIGN KEY (id_session) REFERENCES public.sessions(id_session);


--
-- Name: sessions sessions_id_student_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_id_student_fkey FOREIGN KEY (id_student) REFERENCES public.students(id_student);


--
-- Name: students students_id_tutor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_id_tutor_fkey FOREIGN KEY (id_tutor) REFERENCES public.tutors(id_tutor);


--
-- PostgreSQL database dump complete
--

\unrestrict 7Z2IeLhBbSIwk11Vhw5QN5nT6fZFIkR0jDUuSJHTUtIMCh2GI3HeYf0nkjHXbqv

